blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
flaskwebgui==1.1.6
gitdb==4.0.11
GitPython==3.1.43
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
psutil==6.0.0
smmap==5.0.1
Werkzeug==3.0.4
