<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/log-style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
    var output = document.getElementById('output');
    var xhr = new XMLHttpRequest();

    xhr.open('GET', '{{ url_for('log_stream') }}', true);

    xhr.onload = function() {
      if (xhr.status === 200) {
        output.textContent = xhr.responseText;
      }
    };

    xhr.send();

    setInterval(function() {
      output.textContent = xhr.responseText;
      logBox.scrollTop = logBox.scrollHeight;
      if (output.textContent.includes("QUANTIDADE DE CARBONO EMITIDO:")) {
        window.location.href = "{{ url_for('results') }}";
        }
    }, 500);
  });
</script>
</head>
<body>
    <main>
        <div class="container">
            <header>
                <img src="{{ url_for('static', filename='images/carbonexus_title.svg') }}" alt="CarboNexus" class="title-img">
            </header>

            <h1 class="title">LOG Page</h1>

            <div class="log-box" id="logBox">
                <pre id="output"></pre>
            </div>
        </div>
    </main>
</body>
</html>